# AMPLITUDE_API_KEY=
# AMPLITUDE_DEVELOPMENT_KEY=
# AMPLITUDE_DEV_DEPLOYMENT_KEY=
# 
# # Project version and environment
# APP_VERSION=
# ENVIRONMENT=# AMPLITUDE_API_KEY=your_api_key_here
# CYPRESS_BASE_URL=your_base_url_here